@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$green: hsl(171, 100%, 41%);
$red: red;
$white: hsl(0, 0%, 100%);
$link-color: hsl(150, 64%, 63%);

// $family-sans-serif: 'Karla', BlinkMacSystemFont, -apple-system, 'Helvetica',
// 	'Arial', sans-serif;
$radius: 5px;

// Update Bulma's global variables
$link: black;
$navbar-z: auto;

// Navbar custom styles
$navbar-height: 2.7rem;

// Custome image size
.custom-img {
	border-radius: 1rem;
	-webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.75);
}

// Custom text sizes
.text-size {
	font-size: 1.15em;
}

.bulma-logo {
	max-width: 12em;
}

// Custom colors
.git-logo-color {
	color: #f1502f;
}

.html-logo-color {
	color: orange;
}

.github-logo-color {
	color: black;
}

// Grid for skills section
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
	grid-gap: 0.5rem;
	align-items: flex-start;
}

.grid-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
	grid-gap: 2rem;
	align-items: flex-start;
}

.grid-gab {
	grid-gap: 1rem;
}

.custom-link {
	color: $green;
	&:hover {
		color: $link-color;
	}
}

.nav-link {
	&.nav-span {
		color: red;
	}

	&:hover {
		.nav-span {
			color: $green;
		}
	}
}

@media only screen and (max-width: 768px) {
	.custom-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.navbar .navbar-brand {
		text-align: center;
		display: block;
		width: 100%;
	}

	.navbar .navbar-brand > .navbar-item,
	.navbar .navbar-brand .navbar-link {
		display: inline-block;
	}
}

@media only screen and (max-width: 320px) {
	.custom-img {
		width: 100%;
	}
}

.has-bg-img {
	background: url('../src/images/hero-bg.png') center center;
	background-size: cover;
}

.navbar {
	transition: 0.5s;
}

.fa-github-square:hover {
	color: $link-color;
}

.fa-linkedin:hover {
	color: $link-color;
}

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
