@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* ============================================= */
/*              Bulma customization              */
/* ============================================= */

// Set your brand colors

//Initial variables
$radius: 5px;

// Update Bulma's global variables

// Update some of Bulma's component variables

/* ============================================= */
/*              Base Styles                      */
/* ============================================= */

.section .title {
	font-family: 'Roboto', sans-serif;
}

/* ============================================= */
/*              Hero component                   */
/* ============================================= */

.has-bg-img {
	background: url('../src/images/hero-bg.png') center center;
	background-size: cover;
}

/* ============================================= */
/*              Responsive styles                */
/* ============================================= */

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
