@charset "utf-8";

@import '../node_modules/bulma/sass/utilities/_all.sass';

// Import a Google Font

/* ============================================= */
/*              Bulma customization              */
/* ============================================= */

// Set your brand colors

//Initial variables
$radius: 5px;

// Update Bulma's global variables

// Update some of Bulma's component variables

/* ============================================= */
/*              Base Styles                      */
/* ============================================= */

.text-size {
	font-size: 1.15em;
}

.subtitle-text {
	font-family: 'Dancing Script', cursive;
	font-size: 12px;
}

.content-size {
	font-size: 14px;
}

/* ============================================= */
/*              Hero component                   */
/* ============================================= */

.has-bg-img {
	background: url('../src/images/hero-bg.png') center center;
	background-size: cover;
}

/* ============================================= */
/*              Navbar component                   */
/* ============================================= */

// $navbar-height: 2.8rem;
$navbar-item-color: hsl(0, 0%, 7%);
$navbar-item-hover-color: hsl(171, 100%, 41%);

.navbar {
	transition: 0.5s;
}

.bg-color:hover {
	background-color: hsl(0, 0%, 98%);
}

.nav-logo {
	font-size: 1.2rem;
	font-weight: 400;
}

.nav-link {
	font-weight: lighter;
}

.fa-github-square {
	transition: 0.1s;
	&:hover {
		color: hsl(171, 100%, 41%);
	}
}
.fa-linkedin {
	transition: 0.1s;
	&:hover {
		color: hsl(171, 100%, 41%);
	}
}

// .nav-link {
// 	font-size: 0.8em;
// 	font-weight: 700;
// 	.nav-span {
// 		color: hsl(0, 0%, 7%);
// 	}
// 	&:hover {
// 		.nav-span {
// 			color: hsl(171, 100%, 41%);
// 		}
// 	}
// }

/* ============================================= */
/*              Responsive styles                */
/* ============================================= */

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
